body {
}



p {
  color: red;
  font-family: 'Roboto', verdana;
  font-size: 40px;   
}

.topnav {
  overflow: hidden;
  background-color: darkslategray;
}

.topnav a {
  font-family: 'Open Sans Condensed';
  font-size: 10px;
  color: white;
  float: right;
  padding: 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: black;
}
