body {
}



p {
  color: red;
  font-family: 'Roboto', verdana;
  font-size: 40px;   
}

.topnav {
  font-family: 'Open Sans Condensed';
  font-size: 10px;
  color: white;
  background-color: #002ae33;
  float: right;
  padding: 16px;
}

.topnav a:hover {
  text-decoration: bold;
}
